.container {
  width: 100%;
  height: 100%;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.botonera {
  background-color: #BBBBBB;
  border-bottom: solid 5px black;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.tablero {
  background-color: red;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  gap: 10px;
}

.box {
  background-color: black;
  color: white;
  border: solid 2px #0F0F0F;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.boton {
  background-color: #3C9F40;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

.empty-box {
  background-color: #0F0F0F;
  color: #0F0F0F;
}


@media screen and (max-width: 479px) {
  .container {
    max-width: 300px;
  }

  .tablero {
    width: 280px;
  }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
  .container {
    max-width: 420px;
  }

  .tablero {
    width: 400px;
  }
}

@media screen and (min-width: 720px) {
  .container {
    max-width: 700px;
  }

  .tablero {
    width: 680px;
  }
}